{% extends "@admin/layout.twig" %}
{% block title trans("socialauth.admin.title") %}
{% block pagetitle trans("socialauth.admin.title") %}
{% block pagesubtitle trans("socialauth.admin.subtitle") %}
{% block buttoninfo %}
    <div class="col-sm-6">
        <a class="btn btn-primary btn-md float-right"
           href="{{ oauth_url }}" target="_BLANK">{{ trans("admin.modules.refresh") }} <i
                    class="fa fa-sync"></i></a>
    </div>
{% endblock %}
{% block style %}
    <style>

        @media (min-width: 640px) and (max-width: 1290px){
            .card-logo {
                display: none !important;
            }
            .card-about-container {
                max-width: 100%!important;
                flex: 0 0 100%;
            }
            .card-logo-container {
                max-width:0!important;
                flex: 0 0 41.666667%!important;
            }
        }
    </style>
{% endblock %}
{% block body %}
    {% set token = csrf_input() %}
    <div class="row">
        {% for provider in providers %}

            <div class="col-12 col-sm-12 col-md-3 col-xl-3 d-flex align-items-stretch flex-column">
                <div class="card d-flex flex-fill">
                    <div class="card-header text-muted border-bottom-0 d-flex">
                        <div class="p-2 flex-grow-1 ">

                            {{ provider.title() }}

                            <b class="text-success">
                                <i class="{{ provider.icon() }}"></i>
                            </b>
                            {% if provider.name in enabled %}
                                <span class="badge badge-success">
                                            {{ trans("enabled") }}
                                        </span>
                            {% else %}
                                <span class="badge badge-danger">
                                            {{ trans("disabled") }}
                                        </span>
                            {% endif %}
                        </div>
                            <div>

                                <a href="{{ path('socialauth.admin.config', {name: provider.name}) }}"
                                   class="btn btn-sm bg-purple" target="_BLANK">
                                    <i class="fas fa-cog"></i>
                                </a>
                            </div>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 card-about-container">
                                <h2 class="lead">

                                </h2>

                                <img src="{{ provider.logo }}" alt="{{ provider.name }}" style="max-width: 100%; max-height: 100%"
                                     class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="text-right">
                            {% if provider.name not in indb %}
                            <a href="{{ path('socialauth.admin.config', {name: provider.name}) }}" class="btn btn-primary btn-sm" target="_BLANK"><i class="fas fa-key"></i> {{ trans('socialauth.admin.configbtn') }}</a>
                            {% else %}
                            <form method="POST"
                                  action="{{ path('socialauth.admin.switch', {name: provider.name}) }}">
                                {{ token | raw }}

                                {% if provider.name in enabled %}

                                        <button type="button" class="btn btn-danger btn-sm"
                                                onclick="return confirm('{{ trans("admin.modules.warning") }}')"
                                                data-update-route="{{ path('socialauth.admin.switch', {name: provider.name}) }}">
                                            <i class="fas fa-sync"></i>
                                            {{ trans("admin.modules.disable") }}
                                            <span class="spinner-border spinner-border-sm btn-spinner d-none"
                                                  role="status"></span>
                                        </button>
                                    {% else %}

                                        <button type="button" class="btn btn-success btn-sm"
                                                data-update-route="{{ path('socialauth.admin.switch', {name: provider.name}) }}">
                                            <i class="fas fa-sync"></i>
                                            {{ trans("admin.modules.enable") }}
                                            <span class="spinner-border spinner-border-sm btn-spinner d-none"
                                                  role="status"></span>
                                        </button>
                                    {% endif %}
                                {% endif %}
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endblock %}
    {% block scripts %}

        <script>
            window.csrf = "{{ csrf_token() }}";
            </script>
        <script src="/modules/Admin/js/update.js"></script>
    {% endblock %}
